html {
  scroll-behavior: smooth;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 15px;
}

#loginGroup {
  background-color: cornflowerblue;
  width: 100%;
  height: 100%;
}

.textInput {
  margin-bottom: 15px;
}

.buttonInput {
  display: flex;
  margin-bottom: 15px;
}

.contenedorRegister {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productoIndividual {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  border: 1px solid burlywood;
}
